#banner {
    width: 100%;
}

.pricipal{
    background: #cccccc;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}
p {
    text-align: center;
}